[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017000/

[data_1]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017001/

[data_2]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017002/

[data_3]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017003/

[data_4]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017004/

[data_5]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017005/

[data_6]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017006/

[data_7]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017007/

[data_8]
ishuman = y
ks = 1200 1200 400 600
datapath = database/DAVIS_Xavatar/JPEGImages/Full-Resolution/00017008/

