[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat000/

[data_1]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat001/

[data_2]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat002/

[data_3]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat003/

[data_4]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat004/

[data_5]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat005/

[data_6]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat006/

[data_7]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat007/

[data_8]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat008/

[data_9]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat009/

[data_10]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat010/

[data_11]
ishuman = n
ks = 1111.11 1111.11 400 400
datapath = database/DAVIS_bat/JPEGImages/Full-Resolution/bat011/

