[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 316 316 158 158
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant000/

[data_1]
ishuman = n
ks = 720 720 360 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant001/

[data_2]
ishuman = n
ks = 688 688 344 344
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant002/

[data_3]
ishuman = n
ks = 584 584 292 292
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant003/

[data_4]
ishuman = n
ks = 580 580 290 290
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant004/

[data_5]
ishuman = n
ks = 746 746 373 373
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant005/

[data_6]
ishuman = n
ks = 774 774 387 387
datapath = database/DAVIS/JPEGImages/Full-Resolution/relephant006/

